version: "3.9"

services:
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGODB_USER
      MONGO_INITDB_ROOT_PASSWORD: $MONGODB_PASSWORD
    expose:
      - $MONGODB_PORT
    volumes:
      - db:/data/db

  api:
    depends_on:
      - mongodb
    build: ./edji-api
    restart: unless-stopped
    env_file: ./.env
    ports:
      - $API_PORT:$API_PORT
    environment:
      - DB_HOST=mongodb
      - DB_USER=$MONGODB_USER
      - DB_PASSWORD=$MONGODB_PASSWORD
      - DB_NAME=$MONGODB_DATABASE
      - DB_PORT=$MONGODB_PORT
    stdin_open: true
    tty: true
    volumes:
      - ./edji-api/models:/opt/edji-api/models
      - ./edji-api/libs:/opt/edji-api/libs

  frontend:
    build: ./edji-frontend
    restart: unless-stopped
    ports:
      - $FRONTEND_PORT:8080
    stdin_open: true
    tty: true
    volumes:
      - ./edji-frontend/src:/opt/edji-frontend/src
      - ./edji-frontend/package.json:/opt/edji-frontend/package.json
    env_file: ./.env
    environment:
      - API=api
      - API_PORT=$API_PORT
volumes:
  db: